# Python
__pycache__/
**/__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
**/venv/
**/.venv/

# Environment files
.env
.env.*

# Logs
logs/
*.log

# Node
node_modules/
**/node_modules/

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db