{# ========================================================== #}
{# Cisco Catalyst Switch Golden Template #}
{# Supports:
#   C3650
#   C3850
#   C9300
# ========================================================== #}

version {{ ios_version }}

service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption

hostname {{ hostname }}

!
! ==========================================================
! AAA
! ==========================================================

aaa new-model

aaa group server tacacs+ {{ tacacs_group }}
{% for server in tacacs_servers %}
 server name {{ server }}
{% endfor %}

aaa group server radius {{ radius_group }}
{% for server in radius_servers %}
 server name {{ server }}
{% endfor %}

aaa authentication login default group {{ tacacs_group }} local
aaa authentication dot1x default group {{ radius_group }}

aaa authorization exec default group {{ tacacs_group }} local
aaa authorization network default group {{ radius_group }}

aaa accounting exec default start-stop group {{ tacacs_group }}

!
! ==========================================================
! LOGIN SECURITY
! ==========================================================

no ip domain-lookup

login block-for 120 attempts 5 within 60
login on-failure log
login on-success log

!
! ==========================================================
! DNS
! ==========================================================

ip domain name {{ domain_name }}

{% for dns in dns_servers %}
ip name-server {{ dns }}
{% endfor %}

!
! ==========================================================
! NTP
! ==========================================================

clock timezone {{ timezone_name }} {{ timezone_offset_hours }} {{ timezone_offset_minutes }}

{% for ntp in ntp_servers %}
ntp server {{ ntp }}
{% endfor %}

!
! ==========================================================
! LOGGING
! ==========================================================

logging buffered 1000000

{% for syslog in syslog_servers %}
logging host {{ syslog }}
{% endfor %}

logging trap informational

!
! ==========================================================
! SNMP
! ==========================================================

snmp-server community {{ snmp_community }} RO ACL_SNMP
snmp-server location {{ site_name }}
snmp-server contact {{ contact_email }}
snmp-server enable traps

!
! ==========================================================
! SSH
! ==========================================================

ip ssh version 2
ip ssh source-interface Vlan{{ management_vlan }}

ip scp server enable

no ip http server
ip http secure-server

!
! ==========================================================
! TACACS SERVERS
! ==========================================================

{% for tacacs in tacacs_servers_config %}
tacacs server {{ tacacs.name }}
 address ipv4 {{ tacacs.ip }}
 key {{ tacacs.key }}
!
{% endfor %}

!
! ==========================================================
! RADIUS SERVERS
! ==========================================================

{% for radius in radius_servers_config %}
radius server {{ radius.name }}
 address ipv4 {{ radius.ip }}
 key {{ radius.key }}
!
{% endfor %}

!
! ==========================================================
! VLANS
! ==========================================================

{% for vlan in vlans %}
vlan {{ vlan.id }}
 name {{ vlan.name }}
!
{% endfor %}

!
! ==========================================================
! SVIs
! ==========================================================

{% for svi in interfaces %}
interface Vlan{{ svi.vlan }}

description {{ svi.description }}

ip address {{ svi.ip }} {{ svi.mask }}

{% for helper in svi.helpers %}
ip helper-address {{ helper }}
{% endfor %}

no ip proxy-arp
!
{% endfor %}

!
! ==========================================================
! ACCESS PORTS
! ==========================================================

{% for access in access_ports %}
interface {{ access.name }}

description {{ access.description }}

switchport mode access
switchport access vlan {{ access.vlan }}

spanning-tree portfast
spanning-tree bpduguard enable

switchport port-security
switchport port-security maximum 2
switchport port-security violation restrict

storm-control broadcast level 5.00

no shutdown
!
{% endfor %}

!
! ==========================================================
! TRUNK PORTS
! ==========================================================

{% for trunk in trunk_ports %}
interface {{ trunk.name }}

description {{ trunk.description }}

switchport mode trunk
switchport trunk allowed vlan {{ trunk.allowed_vlans }}

no shutdown
!
{% endfor %}

!
! ==========================================================
! PORT CHANNELS
! ==========================================================

{% for po in port_channels %}
interface Port-channel{{ po.id }}

description {{ po.description }}

switchport mode trunk

switchport trunk allowed vlan {{ po.allowed_vlans }}

!
{% endfor %}

!
! ==========================================================
! SPANNING TREE
! ==========================================================

spanning-tree mode rapid-pvst
spanning-tree extend system-id
spanning-tree portfast default
spanning-tree portfast bpduguard default
spanning-tree loopguard default

!
! ==========================================================
! DHCP SNOOPING
! ==========================================================

ip dhcp snooping
ip dhcp snooping vlan {{ dhcp_snooping_vlans }}

!
! ==========================================================
! DAI
! ==========================================================

ip arp inspection vlan {{ dai_vlans }}

!
! ==========================================================
! IP ROUTING
! ==========================================================

ip routing

{% for route in static_routes %}
ip route {{ route.destination }} {{ route.mask }} {{ route.next_hop }}
{% endfor %}

!
! ==========================================================
! OSPF
! ==========================================================

router ospf {{ ospf.process }}

router-id {{ ospf.router_id }}

{% for network in ospf.networks %}
network {{ network.ip }} {{ network.wildcard }} area {{ network.area }}
{% endfor %}

!
! ==========================================================
! BGP
! ==========================================================

{% if bgp %}
router bgp {{ bgp.asn }}

bgp log-neighbor-changes

{% for neighbor in bgp.neighbors %}
neighbor {{ neighbor.ip }} remote-as {{ neighbor.remote_as }}
{% endfor %}

{% endif %}

!
! ==========================================================
! ACLS
! ==========================================================

ip access-list standard ACL_SNMP

{% for ip in snmp_allowed_hosts %}
permit {{ ip }}
{% endfor %}

!

ip access-list standard VTY_ACCESS

{% for ip in vty_hosts %}
permit {{ ip }}
{% endfor %}

!
! ==========================================================
! VTY
! ==========================================================

line vty 0 15

transport input ssh

access-class VTY_ACCESS in

login authentication default

!
! ==========================================================
! END
! ==========================================================