! ============================================================
! SYSTEM
! ============================================================
version 17.3
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
no service pad
hostname {{ hostname }}
!
! ============================================================
! AAA
! ============================================================
aaa new-model
aaa authentication login default group tacacs+ local
aaa authentication enable default group tacacs+ enable
aaa authorization exec default group tacacs+ local
aaa authorization commands 15 default group tacacs+ local
aaa accounting exec default start-stop group tacacs+
aaa accounting commands 15 default start-stop group tacacs+
!
! ============================================================
! SECURITY
! ============================================================
no ip domain-lookup
login block-for 120 attempts 5 within 60
login quiet-mode access-class ACL_VTY
login on-failure log
login on-success log
!
! ============================================================
! DNS
! ============================================================
ip domain-name {{ domain_name }}
ip name-server {{ dns_servers }}
!
! ============================================================
! NTP
! ============================================================
clock timezone EST -5 0
ntp server {{ ntp_servers }}
!
! ============================================================
! SNMP
! ============================================================
snmp-server community {{ snmp_group }} RO ACL_SNMP
snmp-server location {{ hostname }}-DATACENTER
snmp-server contact netops@{{ domain_name }}
!
! ============================================================
! LOGGING
! ============================================================
logging buffered 64000
logging console informational
logging host {{ syslog_servers }}
logging trap informational
!
! ============================================================
! OSPF
! ============================================================
router ospf 1
 router-id {{ ip_address }}
 passive-interface default
 no passive-interface GigabitEthernet0/0
 network 10.0.0.0 0.255.255.255 area 0
!
! ============================================================
! BGP
! ============================================================
router bgp 65000
 bgp router-id {{ ip_address }}
 bgp log-neighbor-changes
 neighbor 10.0.0.1 remote-as 65001
!
! ============================================================
! STATIC ROUTES
! ============================================================
ip route 0.0.0.0 0.0.0.0 10.0.0.1
!
! ============================================================
! INTERFACES
! ============================================================
interface Loopback0
 description Router Loopback
 ip address {{ ip_address }} 255.255.255.255
!
interface GigabitEthernet0/0
 description WAN Interface
 ip address {{ ip_address }} 255.255.255.252
 no ip redirects
 no ip unreachables
 no ip proxy-arp
!
! ============================================================
! HIGH AVAILABILITY
! ============================================================
!
interface GigabitEthernet0/1
 standby 1 ip {{ ip_address }}
 standby 1 priority 110
 standby 1 preempt
!