! ============================================================
! SYSTEM
! ============================================================
hostname {{ hostname }}
service password-encryption
no service pad

! ============================================================
! AAA
! ============================================================
aaa new-model

! ============================================================
! SECURITY
! ============================================================
no ip domain-lookup
login on-failure log
login on-success log

! ============================================================
! DNS
! ============================================================
ip domain-name {{ domain_name }}

! ============================================================
! NTP
! ============================================================
ntp server {{ ntp_servers }}

! ============================================================
! SNMP
! ============================================================
snmp-server community {{ snmp_group }} RO

! ============================================================
! LOGGING
! ============================================================
logging buffered 64000
logging host {{ syslog_servers }}

! ============================================================
! INTERFACES
! ============================================================
interface GigabitEthernet1/0/1

! ============================================================
! LAYER3
! ============================================================
ip route 0.0.0.0 0.0.0.0 {{ gateway }}

! ============================================================
! HIGH AVAILABILITY
! ============================================================
standby version 2